{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Джанго Блог</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static 'basend/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">

</head>

<body id="top">
    <div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
        <div class="wrapper row1">
            <header id="header" class="hoc clear">
                <div id="logo" class="fl_left">
                    <h1><a href="{% url 'home' %}">Блог</a></h1>
                </div>
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li class="active"><a href="{% url 'home' %}">Домой</a></li>
                    </ul>
                </nav>
            </header>
            {% block content %}
            {% endblock content %}
            <div class="wrapper row5">
                <div id="copyright" class="hoc clear">
                    <p class="fl_left">Copyright &copy; Микаил Халмурзиев <a href="#">thebmf</a></p>
                </div>
            </div>
            <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
            <script src="{% static 'basend/layout/scripts/jquery.min.js' %}"></script>
            <script src="{% static 'basend/layout/scripts/jquery.backtotop.js' %}"></script>
            <script src="{% static 'basend/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>

</html>